@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  scrollbar-width: thin;
  scrollbar-color: #c1bdc2 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: #f1f2f6;
}

*::-webkit-scrollbar-thumb {
  background-color: #c1bdc2;
  border-radius: 10px;
  border: 1px solid #f1f2f6;
}
body {
  background-color: #f1f2f6;
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

button {
  text-transform: capitalize !important;
}

body {
  background: #f3f3f3;
}
.required:after {
  content: " *";
  color: red;
}
.nexcite-btn {
  background-color: #1176c8;
  text-transform: capitalize;
}
.MuiPaper-root {
  box-shadow: none;
  border-radius: var(--Card-radius);
  border: var(--variant-borderWidth) solid;
  border-color: var(
    --variant-outlinedBorder,
    var(
      --joy-palette-neutral-outlinedBorder,
      var(--joy-palette-neutral-300, #cdd7e1)
    )
  );
}

tr,
td,
th,
thead,
tbody,
table {
  border-radius: 0 !important;
}
* {
  font-family: var(--font-cairo), var(--font-montserrat) !important;
  font-weight: 400;
}
